---
import "@assets/style/global.css";
import Logo from "@components/Logo.astro";
import ToggleTheme from "@components/ToggleTheme.astro";

type Props = {
  title?: string;
  description?: string;
  showLogo?: boolean;
  image?: string;
};

const {
  title,
  description = "I only want to help you...",
  image = "https://media-exp1.licdn.com/dms/image/C5603AQGuEHBqeZ-MBg/profile-displayphoto-shrink_200_200/0?e=1583971200&v=beta&t=CMbyHBfa_K4rZt2fwkZzXfGLgleLTVPBtoKKyzqpxWA",
  showLogo,
} = Astro.props;

const siteTitle = title ? `${title} - Andrew Rowland` : "Andrew Rowland";
---

<!doctype html>
<html lang="en">
  <head>
    <script is:inline>
      (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != "dataLayer" ? "&l=" + l : "";
        j.async = true;
        j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, "script", "dataLayer", "GTM-5KQZ3N");
    </script>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta
      data-key="viewport"
      name="viewport"
      content="width=device-width, initial-scale=1, viewport-fit=cover"
    />
    <title>{siteTitle}</title>
    <meta name="description" content={description} />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:title" content={siteTitle} />
    <meta name="twitter:site" content="@andyjrowland" />
    <meta name="twitter:creator" content="@andyjrowland" />
    <meta name="twitter:image" content={image} />
    <meta property="og:type" content="article" />
    <meta property="og:title" content={siteTitle} />
    <meta property="og:description" content={description} />
    <meta property="og:url" content={Astro.url} />
    <meta property="og:image" content={image} />
    <link rel="dns-prefetch" href="https://fonts.gstatic.com" />
  </head>
  <body>
    <noscript
      ><iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-5KQZ3N"
        height="0"
        width="0"
        style="display:none;visibility:hidden"></iframe></noscript
    >
    <header class="header">
      <div class="header__left">
        {showLogo && <Logo />}
      </div>

      <div class="header__right">
        <ToggleTheme />
      </div>
    </header>

    <main class="main">
      <slot />
    </main>

    <footer class="footer">
      <span class="footer__copyright"
        >Copyright &copy; {new Date().getFullYear()}.
      </span>
      <span class="footer__links"></span>
    </footer>
  </body>
</html>

<script>
  document.querySelectorAll("[href^=mailto]").forEach(function (link) {
    var href = link
      .getAttribute("href")
      ?.replace("AT", "@")
      .replace("DOT", ".");
    if (href) link.setAttribute("href", href);
  });

  window.__onThemeChange = function () {};
  function setTheme(newTheme: string) {
    window.__theme = newTheme;
    preferredTheme = newTheme;
    document.body.setAttribute("data-theme", newTheme);
    window.__onThemeChange(newTheme);
  }

  var preferredTheme;
  try {
    preferredTheme = localStorage.getItem("theme") || "dark";
  } catch (err) {}

  window.__setPreferredTheme = function (newTheme: string) {
    setTheme(newTheme);
    try {
      localStorage.setItem("theme", newTheme);
    } catch (err) {}
  };

  var darkQuery = window.matchMedia("(prefers-color-scheme: dark)");
  darkQuery.addEventListener("change", function (e) {
    window.__setPreferredTheme(e.matches ? "dark" : "light");
  });

  setTheme(preferredTheme || (darkQuery.matches ? "dark" : "light"));
</script>

<style>
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: var(--header-height);
    padding: 0 calc(var(--space) / 2);
    top: 0;
    z-index: 10;

    &__left,
    &__right {
      display: flex;
      align-items: center;
    }

    @media screen and (min-width: 1300px) {
      position: sticky;
      width: 100%;
    }
  }

  .main {
    margin: 0 auto;
    padding: 1.5vw 15px 0;
  }

  .footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: calc(var(--space) / 2);
    text-align: center;
    font-size: 0.8em;

    > span {
      margin: 0 0.35em;
    }

    a {
      color: currentColor;
    }
  }
</style>
